* {
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: 0.5;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: start;
}

.container>* {
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 3px dashed blue;
    height: 200px;
    flex-basis: 262px;
}

.box1 {
    flex-grow: 1;
}

.box2,
.box3 {
    flex-grow: 100;
}

.box5 {
    flex-grow: 22;
}

.box6 {
    flex-grow: 1;
}

.box4 {
    flex-basis: 100%;
}