* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    font-family: "PT Sans";
    font-style: normal;
}

body>img {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.Menu {
    display: flex;
    justify-content: center;
}


.nav {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-left: 21px;
    flex-basis: 1140px;
    border-radius: 5px;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #00587a;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
}


.Logo {
    display: flex;
    grid-area: one;
    justify-content: center;
}

.top-bar {
    display: flex;
    align-items: center;
    flex-basis: 1145px;
    padding-top: 12px;
}

.imgContainer {
    flex-basis: 222px;
}

.logo-img {
    max-height: 85px;
    opacity: 1;
}

.SideLogos {
    padding-bottom: 10px;
    flex-basis: 150px;
    max-height: 60px;
    display: flex;
    color: #00587a;
    font-size: 13px;
    font-weight: 700;
    flex-wrap: wrap;
    line-height: 12px;
    gap: 10px;
}

.searchBar {
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    width: 487px;
    height: 33px;
    gap: 15px;
}

.icons {
    display: flex;
}

.fa-facebook {
    width: 20px;
}

.fa-twitter {
    width: 26px;
}

.fa-youtube {
    width: 30px;
}

.fa-odnoklassniki {
    width: 22px;
}

.fa-instagram {
    width: 26px;
}

.fa-telegram {
    width: 27px;
}

.searchInput {
    position: relative;
    width: 458px;
    height: 33px;
    padding: 0 12px;
    border: 1px solid #00587a;
    border-radius: 2px;
    font-size: 15px;
    padding-left: 37px;
}

.searchButton {
    position: absolute;
    left: 481px;
    top: 74px;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: #00587a;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.SideSearchBars {
    margin-left: 1px;
    margin-bottom: 6.5px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 196px;
    font-weight: 700;
    font-size: 13px;
    align-items: center;
    gap: 5px;
}

.Date>span {
    margin-left: 1px;
}

.Time>span {
    margin-left: 2px;
}

.MoneyRate {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 9px;
    max-width: 30px;
    font-size: 13px;
    font-weight: 700;
    flex-basis: 100px;
}

.RUBVALUE {
    margin-left: 6px;
}

.MoneyRateValues {
    margin-left: 5px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 9px;
    max-width: 30px;
    font-size: 13px;
    font-weight: 400;
}


.Menu {
    grid-area: two;
}

.box3 {
    grid-area: three;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    grid-area: four;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero {
    grid-area: five;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    align-items: end;
}

.mainPic {
    position: relative;
    opacity: 0.8;
    margin-left: 50px;
    padding-left: 18px;
}

.text-container {
    position: absolute;
    left: 317px;
    top: 86%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
}

.text-container2 {
    background-color: black;
    display: flex;
    min-width: 265px;
    min-height: 445px;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    left: 734px;
    top: 222px;
    font-size: 16px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    color: white;

}

.mainPic>img {
    width: 848px;
    max-height: 445px;
}

.NEWS {
    grid-area: six;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.Hero>img {
    max-width: 1158px;
    max-height: 100px;
    margin-left: 50px;
    padding-left: 18px;
    margin-bottom: 10px;
}

.footer {
    background-color: #00587a;
    grid-area: seven;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footerTopBar {
    margin-top: 29px;
    display: flex;
    justify-content: center;
    min-width: 1140px;
    min-height: 49px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    gap: 20px;
    color: white;
    border-bottom: 1px solid black;
}

.footerTopBar>* {
    height: 20px;
    border-bottom: 1px solid white;
}

.footerBody {
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex-basis: 1140px;
    color: white;
    font-size: 13px;
}

.firstPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1140px;
    padding-bottom: 6px;
}

.firstPart>img {
    max-width: 184px;
    max-height: fit-content;
}

.box8 {
    grid-area: eight;
    display: flex;
    justify-content: start;
}

.box8>img {
    padding-top: 17px;
    padding-left: 14px;
    max-width: 280px;
    max-height: 463px;
}

.box9 {
    grid-area: nine;
    display: flex;
    font-size: 16px;
}

.FirstRepItem {
    flex-basis: 220px;
    line-height: 22px;
}

.RepItem1,
.RepItem2 {
    padding-top: 30px;
    padding-left: 9px;
    max-width: 275px;
    max-height: 236px;
}

.RepItemText {
    padding-top: 3px;
    margin-left: 11px;
    flex-basis: 300px;
}

.RepItemText>span {
    padding-left: 2px;
}

.SecondRepItem {
    line-height: 22px;
    flex-basis: 220px;
    margin-left: 19px;
}


.miniTopBar {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    flex-basis: 555px;
    margin-right: 16px;
    max-height: 43px;
    border-bottom: 3px solid #d0dbe5;
}


.miniTopBar>p {
    margin-top: 7px;
    font-size: 19px;
    font-weight: 700;
    font-stretch: condensed;
}

.buttons {
    flex-basis: 176px;
    display: flex;
    gap: 6px;
    justify-content: start;
}

.miniButton1,
.miniButton2 {
    margin-top: 1px;
    justify-content: center;
    flex-basis: 82px;
    color: white;
    border-radius: 3px;
    font-weight: 400;
    display: flex;
    max-height: 29px;
    font-size: 9px;
    align-items: center;
    background-color: #00587a;
    font-stretch: condensed;
}

.miniBody {
    flex-basis: 555px;
    margin-right: 16px;
    max-height: 229px;
    margin-bottom: 5px;
    border-top: 2px solid #d0dbe5;
}

.miniBody>p {
    padding-top: 21px;
    padding-left: 1px;
    font-size: 16px;
    font-weight: 700;
}

.miniBody>p>span {
    padding-left: 3px;
}

.contents {
    margin-top: 14px;
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.content1,
.content2 {
    display: flex;
    gap: 16px;
    flex-basis: 500px;
}

.content3 {
    display: flex;
    gap: 16px;
    flex-basis: 550px;
}

.timePoint {
    font-size: 13px;
}

.Adv1,
.Adv2 {
    margin-top: 3px;
    width: 1143px;
    height: 83px;
}


.container>* {
    border: 2px dashed red;
}

.Vlast {
    flex-basis: 48px;
}

.Obshestvo {
    flex-basis: 72px;
}

.Ekonomika {
    flex-basis: 79px;
}

.Proisshestivya {
    flex-basis: 104px;
}

.Agent {
    flex-basis: 80px;
}

.Sport {
    flex-basis: 43px;
}

.Technoblock {
    flex-basis: 73px;
}

.SpecProject {
    flex-basis: 96px;
}

.Kyrgyz {
    flex-basis: 70px;
}

.English {
    flex-basis: 50px;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(112px, auto) minmax(36px, auto) minmax(132px, auto) minmax(83px, auto) minmax(600px, auto) minmax(323px, auto) minmax(290px, auto);
    grid-template-columns:
        minmax(20px, 642px) minmax(20px, 290px) minmax(20px, 349px);
    grid-template-areas:
        "one one one"
        "two two two"
        "three three three"
        "four four four"
        "five five eight"
        "six nine nine"
        "seven seven seven";
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six";
    }
}


.Ekonomika2 {
    padding-left: 2px;
}

.Proisshestivya2 {
    padding-left: 1px;
}

.Agent2 {
    padding-left: 2px;
}

.Sport2 {
    padding-left: 1px;
}


.Kyrgyz2 {
    padding-left: 1px;
}